[2016-09-16 08:40] dabercro opened #6 "Testing Tool and Adjusting Parameters"
@vlimant @prozober @areinsvo @mcremone

Since I don't really know everything the workflow team or Unified needs, feel free to make any comments or pull requests. We can also track the testing progress here.
## From Jean-Roch:

although we have a unified wired to testbed

https://cmst2.web.cern.ch/cmst2/unified-testbed/

 it might be simpler to have it wired to production and run this in "commissio

[2016-09-22 15:56] prozober commented on #6
Hi Daniel, for the parameters:

Please @vlimant, correct me if I am wrong
Clone:
- params
    - ‘splitting’ : numerical value, must be read from original request, the WTC can change it
    - ‘memory’:  numerical value, must be read from original request, the WTC can change it
    - ‘timeout’:  numerical value, integer value, must be read from original request, the WTC can change it
    - ‘invalida

[2016-09-28 19:55] dabercro commented on #6
Sorry for the delay. I've been traveling, but I should be able to keep up again.

I've reduced the number of options in PR #8, which you guys can check. I went ahead and updated and restarted the website.

[2016-11-15 02:36] areinsvo commented on #6
I've been thinking about the unwired recoveror and what we need to give it so it can implement the actions.

How do we want to figure out which task to ACDC? Or more specifically, **when** do we want to make that decision? In the normal Unified recoveror, all that is needed is the workflow name, and it accesses the error codes and decides what actions to take. But the idea is to move all of this u

[2016-11-17 15:54] dabercro commented on #6
Yep, sorry for missing this.

If you want to add an option with either a text field or radio buttons, you can add to these lists or dictionaries for it to show up on the submission page: https://github.com/CMSCompOps/WorkflowWebTools/blob/master/runserver/static/js/addreason.js#L218-L224 (or just tell me what you want, and I can add it.)

[2016-11-17 16:13] prozober commented on #6
I also missed this...

- Decisions need to be taken by task. The task's name should be included in the jsons we are sending.
- Yes Dan, please add the option in the form. It needs to be a drop-down list, with the set of fixed tasks, to avoid stupid mistakes.
- Also, we need to ensure we take decisions for every single task, otherwise there will be missing lumis.

Thanks!

[2016-11-17 16:30] dabercro commented on #6
This might be a stupid question, but by tasks that is the same thing as steps, right? For example, when I look at this: https://vocms0113.cern.ch:80/seeworkflow/?workflow=fabozzi_Run2016H-v1-ZeroBiasBunchTrains1-09Nov2016_8023_161109_181412_2642 should I put another **Actions** option under each different link under **Steps with errors**?

[2016-11-17 16:56] prozober commented on #6
It is not a stupid question! In this case steps and tasks are the same thing.
In WMCore steps are a completely different thing, so, to avoid any kind of misunderstanding, let's replace the name"steps" with "tasks" in our interface.

[2016-11-18 05:06] areinsvo commented on #6
Hi Paola! When you say "we need to ensure we take decisions for every single task, otherwise there will be missing lumis," what are the possible actions? ACDC, recovery, and anything else?

Where is this going to be enforced? Dan, can you build that into your interface? ie force the operator to choose an action for every task before submitting the request? Or should I double check in the unwired r

[2016-11-18 15:14] prozober commented on #6
I think the best way to do it is checking the request in the unwired recoveror. All the logic and rules will be there, Dan's interface will be the view of our decision making.

The possible actions would be:
1 - ACDC per task. Then we have:
- Plain ACDC.
- ACDC with bigger memory.
- ACDC with finer splitting.
- ACDC with xrootd enabled (**Dan, this is new**)
- And of course, all possible combinati

[2016-11-18 15:18] dabercro commented on #6
I can certainly force it, but it might be a good idea to check also, if that's easy to do.

Thanks for the list, Paola.

[2016-11-22 11:41] dabercro commented on #6
So the parameters are now set for each step for ACDC. The instance on vocms0113 is currently running the setup.

@areinsvo The actions look like this now: https://vocms0113.cern.ch:80/getaction?days=6 The parameters are split with the task name as the key. Let me know how that looks.

@prozober Unfortunately (?) there are no multi-step errors listed at the moment, but feel free to check out any of

[2016-11-28 08:35] prozober commented on #6
Hi Dan, we have plenty of requests that need ACDCs in multiple tasks.
I will send all actions I can from our interface.

[2016-11-28 11:50] dabercro commented on #6
Great! Let me know how you feel about the current interface. If everything looks okay, I will focus on adding more information for decision making.

I guess we should also rethink the "Apply to multiple" list for ACDCs (which right now doesn't allow to change parameters per step).

[2016-12-01 21:16] dabercro opened #13 "Unified critical page"
@areinsvo How is this?

--

It would be useful if there was an option to sort the critical messages by module. In addition to the page we have now, would it work to have separate pages for each module (assignor, GQ, etc), and list the last 50 messages on each? This would be especially useful for the modules that don’t have many messages, but where each message is important to act upon. Right now t

[2016-12-02 15:35] #13 closed

[2016-12-14 14:36] prozober commented on #6
Resuming the task. I am going to try an action, just to explain myself better, it is not a real action to take.
https://vocms0113.cern.ch:80/globalerror

The wf fabozzi_Run2016H-v1-ZeroBiasIsolatedBunch2-09Nov2016_8023_161109_182009_9262 has three tasks with failures:
1. DataProcessing.
2. DataProcessing/DataProcessingMergeALCARECOStreamLumiPixelsMinBias
3. DataProcessing/DataProcessingMergeMINIAO

[2017-02-03 19:48] dabercro commented on #6
@prozober I think I added a lot of the information that you would want to make decisions with the last PR #16

For example (for now), check out https://vocms0113.cern.ch:80/seeworkflow/?workflow=prozober_Run2016B-v2-ZeroBias0-17Jan2017_8020_170201_092625_2960 and let me know how that looks. Not all of the error codes had procedures listed in the WTC twiki, but in this particular example workflow,

[2017-02-06 07:59] prozober commented on #6
Thanks, Daniel. I am getting this when I try to access the link you pointed out:

[2017-02-06 13:51] dabercro commented on #6
That seems to happen when the workflow has been handled already. Thanks for
pointing it out. I'll try to fix that error. Were you able to view other
workflows on the page? If I click around from the globalerrors page (
https://vocms0113.cern.ch:80/globalerror) everything seems to work fine.

On Mon, Feb 6, 2017 at 2:59 AM, Paola Katherine Rozo <
notifications@github.com> wrote:

[2017-02-06 14:05] dabercro commented on #6
@prozober #17 fixes the 500 Error you pointed out. The global errors have consistent colors for error codes between different pie charts too now. Both fixes are already running.

[2017-02-07 14:37] vlimant commented on #6
go curious and clicked https://vocms0113.cern.ch:80/seeworkflow/?workflow=fabozzi_Run2016D-23Sep2016-v1-MET-03Feb2017_8026p1_170203_162315_612

got

500 Internal Server Error

The server encountered an unexpected condition which prevented it from fulfilling the request.

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/cherrypy/_cprequest.py", line 670, in respond

[2017-02-07 15:53] dabercro commented on #6
Hmm, I'm getting a redirect back to the global error page... I'll check the logs and see if I can fix it though.

[2017-02-07 16:02] dabercro commented on #6
Sorry, it was a very stupid mistake. Thanks for catching it. Fixed here: #18

[2017-02-14 19:45] areinsvo commented on #6
A couple questions to make sure my understanding is correct. Other than these points, I think the script is (finally) ready to be used to actually submit ACDCs!

- When a value is input for memory, that's the new memory value I should use for the ACDC, right? The other option is to put in a factor or amount to increase the memory by.
- @vlimant , I'm going to use getWmErr() to double check that we

[2017-02-14 20:18] dabercro commented on #6
I think the memory is the new memory value, yes. At least, that's what I would have thought. @prozober should answer for sure though.

I am actually reporting 'NotReported' at the moment (as error code -1 with 1 error). So those workflows are showing up with this tool. Again, Paola can answer whether or not that's how she's intending to use it.

[2017-02-15 16:00] prozober commented on #6
Allie, Dan:
- The provided input will be the new memory value. We need to provide the exact value we want to try.
- LogCollect must be ignored in every case.
- We need to check for unreported errors. We can take two actions: Plain ACDC, and ACDC over xrootd assigned to a different site from the sites included in the ACDC document.
Notice that if no values are provided, we need to get that info fro

[2017-02-15 16:39] prozober commented on #6
As you could notice, the action to be taken includes the assignment of the ACDC, if needed.
1. When we kill and clone a workflow, we ignore the assignment.
2. If we make a plain ACDC, or a modified ACDC, we need to assign it.

 When we clone a workflow or create an ACDC, the required parameters are:
- Memory
- Splitting

For the assignment the parameters would be:
- xrootd
- sites

We haven't disc

[2017-02-15 16:50] dabercro commented on #6
I had a checklist for sites in the past, but I think Jean-Roch said it was a little much. I would definitely agree if we had separate lists for each step...

It'll probably be less cluttered if I do a drop down list though and allow adding, like for the reasons. Does that sound reasonable? About how many sites at a time do you think you'd use? (That will help me guess what the best way to display

[2017-02-15 17:13] prozober commented on #6
That's the way I am doing it today. I select the sites for every task, look at this mess: https://cmst2.web.cern.ch/cmst2/unified/report/pdmvserv_task_JME-PhaseIFall16GS-00003__v1_T_170127_092523_4740
My actions would be
- Task **JME-PhaseIFall16GS-00003_0MergeRAWSIMoutput**: plain ACDC, and assign to sites from the ACDC documents.
- Task **JME-PhaseIFall16DR-00002_0**: ACDC with finer splitting,

[2017-02-15 23:06] dabercro commented on #6
Okay, I added the site list back in for each individual step. To make it easier to read, I also made the sites listed in the recovery docs bold faced. (In order for it to look nice, I needed to reload the page to get the new style sheet. Depends on your browser...) #21

@areinsvo Watch out for the site list. If only one site is checked, the parameter returned is a string. If more than one is check

[2017-02-16 12:05] prozober commented on #6
Dan, look at this https://vocms0113.cern.ch:80/seeworkflow/?workflow=pdmvserv_task_SMP-RunIISummer15wmLHEGS-00086__v1_T_170204_181432_946
AttributeError: 'WorkflowInfo' object has no attribute 'get_workflow_params'

[2017-02-16 13:24] prozober opened #22 "Changing all_errors.json"
We need to find a way of making this json file useful https://cmst2.web.cern.ch/cmst2/unified/all_errors.json.

The structure is OK when we are dealing with workflows without ACDCs. But, in most of the cases the workflows have several ACDCs or even recoveries.
Then, the structure of this json could be:

"PrepID":{
"Workflow/task":{
//Exit codes
}
"Workflow/task":{
//Exit codes
}
}
"PrepID":{
...
W

[2017-02-16 13:38] dabercro commented on #6
Fixed. I'm sorry about that. Thanks for catching it. I need to sit down and write unit tests for these pages.

[2017-02-16 19:19] dabercro opened #23 "Update Recommended Procedures"
The procedures given here: http://cms-comp-ops-tools.readthedocs.io/en/latest/workflowwebtools.html#module-WorkflowWebTools.procedures are generated by the PROCEDURES dictionary in the procedure.py module (https://github.com/CMSCompOps/WorkflowWebTools/blob/master/procedures.py).

I just added the cause column to the table. The 'cause' does not show up in the operator interface itself at the momen

[2017-02-16 19:44] dabercro commented on #22
Do you know how Unified creates the file? I couldn't quite figure it out. (Or maybe I should have asked @vlimant directly...)

At one point, I was trying to duplicate the contents of all_errors.json using WMStats' jobdetail API, but I hadn't finished figuring out where to get the list of workflows needed. For that I was trying the reqmgr2 API (for example: https://cmsweb.cern.ch/reqmgr2/data/reque

[2017-02-17 13:35] prozober opened #24 "Error explained improvement"
For example, I am checking this workflow
https://vocms0113.cern.ch:80/seeworkflow?workflow=pdmvserv_SUS-RunIISpring16FSPremix-00086_00047_v0__170116_081631_4724
I am interested in error 8001, so I click on the 8001 link in the summary table. we get this
https://vocms0113.cern.ch:80/explainerror?errorcode=8001&workflowstep=/pdmvserv_SUS-RunIISpring16FSPremix-00086_00047_v0__170116_081631_4724/Produ

[2017-02-17 13:39] vlimant commented on #22
that files is created from recoveror => showError.parse_all ; for all workflows in assistance manual. @areinsvo
I think that we have a find an alternative way indeed to get the right content, it is hard for me to give a good answer on how without having the current bigger picture.

[2017-02-17 17:29] prozober commented on #22
I think we can:
1. Get the workflows by prepid using https://cmsweb.cern.ch/reqmgr2/data/request?prep_id=PREPID&detail=true
2. Organize them by creation time.
3. Get the failures from https://cmsweb.cern.ch/wmstatsserver/data/jobdetail/WORKFLOW-NAME

[2017-02-17 17:51] prozober commented on #22
4. And of course, I forgot the unreported errors!

[2017-02-17 22:36] dabercro commented on #24
Okay, that should be easy for me to add in. I already have this function here that seems to do the trick: https://github.com/CMSCompOps/OpsSpace/blob/master/CMSToolBox/workflowinfo.py#L71-L94 I just have to make sure the format is the same.

[2017-02-20 09:29] prozober commented on #6
Dan, when I try to https://vocms0113.cern.ch:80/seeworkflow?workflow=pdmvserv_task_EXO-RunIISummer15wmLHEGS-04239__v1_T_170114_004935_4431
I got:
SSLError: [SSL: SSLV3_ALERT_CERTIFICATE_EXPIRED] sslv3 alert certificate expired (_ssl.c:590)

[2017-02-20 13:03] dabercro commented on #6
Okay, I fixed that, sorry. I'll need to come up with a way to automatically regenerate proxies.

[2017-02-21 13:18] prozober commented on #6
Dan, all Unified monitoring pages/json were moved, now we need to point at
 https://vocms049.cern.ch/unified/

[2017-02-21 14:14] dabercro commented on #6
@vlimant When I try to access the .json files on vocms049, I get a 403 (forbidden) error. I'm guessing your directories /var/www/html and /var/www/html/unified are not +x for the apache user. They are owned by root:zh and vlimant:zh, respectively, both with permissions flag 774.

[2017-02-22 22:29] dabercro commented on #6
Okay, I have the SSO cookies working with #25. Sorry that took so long. all_errors.json is empty at the moment, but the site is back up.

[2017-02-27 15:00] paorozo opened #26 "Reporting submit failures"
Every exit code 71104 must be related to one site, as you can see in the details of the exit codes.
https://cmsweb.cern.ch/wmstatsserver/data/jobdetail/pdmvserv_task_HIG-RunIISummer15wmLHEGS-01101__v1_T_170223_204023_1926

Could we, somehow, include the site info inside our "summary table" in here:
https://vocms0113.cern.ch:80/seeworkflow?workflow=pdmvserv_task_HIG-RunIISummer15wmLHEGS-01101__v1_T

[2017-02-27 15:02] dabercro commented on #26
What sort of additional site info would you like? Right now, the color of the cell for the site indicates the site readiness status.

[2017-02-27 15:13] prozober commented on #26
For example, the workflow pdmvserv_task_HIG-RunIISummer15wmLHEGS-01101__v1_T_170223_204023_1926 had submit failures to T2_DE_RWTH.
In the summary table, I would like to see the sites where the job tried to run (RWTH in this case).
At some point, when we will apply an action to multiple, it would be very useful to group not only by exit code but by the site involved.

[2017-02-27 15:56] prozober commented on #6
Hi @areinsvo, I think we have the perfect workflow to take some actions with our tool.
https://vocms0113.cern.ch:80/seeworkflow/?workflow=pdmvserv_task_EXO-RunIISummer15GS-03460__v1_T_170223_220648_3124
It contains reading problems, submit failures and unreported issues at T0, Florida and RWTH.
The only choice we got is to try a plain ACDC round.
I already sent the action https://vocms0113.cern.ch

[2017-02-28 15:44] prozober commented on #23
Hi Dan, it is possible to include multiple causes to an exit code, right?

[2017-02-28 16:00] dabercro commented on #23
Yeah, but the causes on this table are added by hand. The workflow view itself displays the multiple "sub" exit codes to explain causes.

[2017-02-28 16:02] dabercro commented on #23
It might be cleaner to make the cause values into lists and join them with the ' |br| |br| ' string (a hacky way to make Sphinx separate the paragraphs). Would you prefer that?

[2017-02-28 16:20] prozober commented on #23
I guess we have a problem. We could have different causes, and a different procedure attached to each one of them. Should we reorganize the dictionary?

[2017-02-28 16:24] dabercro commented on #23
So that's what the "Additional procedure" is for. If the regular expression in the last column is matched, it should return the contents of the match to the operator. This is basically parsing the logs for the operator. If the additional procedure merits a different action based on the matches, the operator will know.

Of course, for this to be fully useful, I need to get issue #22 working so that

[2017-02-28 17:54] areinsvo commented on #6
Thanks Paola. I think I just submitted the ACDCs on the two tasks in EXO-RunIISummer15GS-03460:
areinsvo_ACDC0_task_EXO-RunIISummer15GS-03460__v1_T_170228_185246_6339
areinsvo_ACDC0_task_EXO-RunIISummer15GS-03460__v1_T_170228_185238_4716

Please let me know if something isn't right here.

Still on my to do list:
1) Implement xrootd setting ( @prozober or @vlimant, what setting do I have to change

[2017-02-28 18:34] vlimant commented on #6
2. are we going down the road of not having the unreported error displayed in the globalerror page and done under-the-hood by recoveror ? if yes, you see me frowning ...

[2017-02-28 18:36] dabercro commented on #6
It was missing last week because I changed and broke something. At the moment, 'NotReported' is back to error code -1 as I commented two weeks ago. Still not ideal, I think...

[2017-02-28 18:40] areinsvo commented on #6
I asked @prozober if I also need to check for unreported errors in recoveror, and I took her response to mean yes, so that recoveror doesn't try to do anything illegal/dumb if there are unreported errors present. She can correct me if I misunderstood.

The other option would be to leave it up to the WTC to submit the right parameters in the case of unreported errors, and have recoveror not worry a

[2017-03-01 12:37] prozober commented on #6
I am sorry I did not make myself clear. The WTC must decide what action to take for every unreported error. But of course, Unified must be aware of the unreported errors for every task.

[2017-03-01 12:58] prozober commented on #6
The ACDCs look OK. Now, for the assignment:
- In this case, I did not provide the xrootd value. We need to take it from the original request. @dabercro the action we send assigns something like xrootd=NULL, if I don't fill that field?
- The parameter we need to change in the schema is "TrustSitelists".

Daniel, we need to include another parameter besides xrootd, secondary_xrootd. I usually do not

[2017-03-01 15:10] areinsvo commented on #6
Thanks Paola! For this particular workflow, you didn't put anything in xrootd, so xrootd just wasn't present in the action JSON (so I don't change anything). I think that works fine. I'll edit the code to properly change TrustSitelists if the xrootd parameter is set.

[2017-03-02 13:25] prozober commented on #23
Sorry if it is a stupid question, but if we want to add, modify, or remove procedures, what do I need to do? to send a pull request to WorkflowWebTools, right?
Of course I can do it that way, but it would be great if we have a more interactive manner to manage those procedures (that's why we were asking for a web interface to manage this info).
Do you think it would be possible?

[2017-03-02 15:53] dabercro commented on #23
If we want reasons to end up in the documentation, it has to get to readthedocs through GitHub. So for the purpose of this issue, we should make PRs.

Ultimately, we want the tool to learn the reasons and procedure on its own from training data. The reason boxes at the bottom (after clicking the "Add Reason" button) is the place to interactively place modified causes. The submitted actions themsel

[2017-03-02 15:56] areinsvo commented on #6
I guess this shows my lack of knowledge about the details - how are ACDCs normally assigned? Do we want the same modified recoveror script to automatically create *and* assign the ACDCs? (I thought the script was already doing this, but it sets the status to assignment-approved, not assigned)

[2017-03-02 16:03] prozober commented on #23
Dan, you are completely right! Thanks, I needed this enlightenment.
Now, we should discuss the way the actions, exit codes, even logs, and results are going to be stored, right? Where do you think it is the better place to do it?

[2017-03-02 16:03] vlimant commented on #6
the current recoveror does both create and assign indeed, and I think we need to have it this way

[2017-03-02 16:18] areinsvo commented on #6
Ah, I see that now. I didn't copy that part of the code over correctly for some reason. I'll fix the code ASAP. In the meantime, should we force the assignment of the two ACDCs I created earlier but didn't assign? Or delete those ACDCs and create them from scratch and assign them later today when my script is fixed?

[2017-03-02 16:42] vlimant commented on #6
you can reject the two acdc and remake-assign on that workflow

[2017-03-06 16:37] areinsvo commented on #6
I rejected the two ACDCs and the script is ready to be tested, except for one thing: once the new ACDCs are created and assigned, how do I change the status of the workflow from assistance-manual to assistance-recovering? The normal recoveror uses assignSession, but that's what I'm trying to decouple from in this script (since this will be run manually, not as part of the normal Unified cycle). @v

[2017-03-06 17:01] vlimant commented on #6
If AC/DC are found checkor will change the status accordingly.
The synchronization of action setting and running it needs to be thought through.
If all is ran under 049, then it can stay with changing the status in the db directly, I don't see issue with that.

[2017-03-06 17:46] areinsvo commented on #6
What do you mean by "it can stay with changing the status in the db directly"? You mean the new recoveror (it really needs a new name...) can/should change the status directly?

For the test today, is it okay to just let checkor handle changing the status after I create and assign the ACDCs?

[2017-03-06 20:12] dabercro commented on #6
@prozober I'm catching up now. To answer your earlier question about unassigned xrootd, if you don't assign a value, it won't show up on the parameters at all. The best thing for @areinsvo to do in that case is something like:

    use_xrootd = response[prepID]['Parameters'].get('xrootd')
    if use_xrootd is None:
        # Get the default value of the xrootd
    elif use_xrootd == 'enabled':

[2017-03-07 14:14] areinsvo commented on #6
The new ACDCs for the workflow pdmvserv_task_EXO-RunIISummer15GS-03460 have been created and hopefully assigned. @prozober, please let me know if something isn't right:
Assigned workflow: areinsvo_ACDC0_task_EXO-RunIISummer15GS-03460__v1_T_170307_151102_1973 to site: [u'T2_DE_RWTH'] and team production
Assigned workflow: areinsvo_ACDC0_task_EXO-RunIISummer15GS-03460__v1_T_170307_151112_2569 to sit

[2017-03-07 14:58] prozober commented on #6
We have a couple of problems:
- Both ACDCs were created for the same task EXO-RunIISummer16DR80Premix-07371_0. Task EXO-RunIISummer15GS-03460_0 is missing.
- RWTH is draining right now. Certainly, we need to assign the ACDC to a different site over xrootd. In this case, the operator needs to decide what site to use, I guess I should send the action once again.

If a site is in draining, it shouldn

[2017-03-07 15:39] areinsvo commented on #6
I found and fixed the problem with the task names. I will abort the two ACDCs mentioned above.

I think the normal recoveror checks which sites are ready and doesn't assign to sites in drain. I will add this to my code. However, if the operator only says to go to sites that are in drain, what should the script do? Probably refuse to create ACDCs and quit with an error message?

[2017-03-07 15:57] prozober commented on #6
I cannot find a case where we need to assign the workflow to a site into drain. I think disabling the draining sites from our assignment interface would be enough.

[2017-03-07 16:02] dabercro commented on #6
Okay, that shouldn't take long. I'm thinking the sites in drain should be marked, so you know which they are (I'd make them red or something, it's more informative than them not being there at all) with a warning if no enabled sites are selected. How does that sound?

[2017-03-07 16:03] areinsvo commented on #6
Doing it from the interface sounds good. As long as the site doesn't go into drain in the time between submitting the action and then running the script to actual create the ACDCs, that should work.

[2017-03-07 16:05] dabercro commented on #6
Ah, that's a good point. Doing it from the interface should cut down on the occurrence, but I agree that you should probably handle it in your script too.

[2017-03-07 16:26] prozober commented on #6
Make the sites red in the interface is a good idea.  How can we handle the script "exceptions" for the assignment?

[2017-03-07 16:34] areinsvo commented on #6
@prozober as the operator, what would you like the script to do in that case? Assign it anyway, and you can catch it in the Unified critical page and deal with it, or fail with an error message, or option 3 I can't think of?

[2017-03-07 16:43] vlimant commented on #6
For the sites in drain, the acdc might require it the hard way (the data is only at that site) and therefore the site should be in the whitelist, and used in assignment if the action is set.
So assignment should go on (the use case would be that the operator knows that the site is going to come back soon and it's ok to assign it already like this leaving the agent to start submitting when the site

[2017-03-07 20:10] dabercro commented on #6
#27 includes red sites in drain. There's no warning yet, but I think I'll make that a lower priority for now. I will update the server within the hour probably after some testing. (I should probably spend some time writing more tests to make that useful.)

[2017-03-07 20:15] dabercro commented on #24
#27 now has it set that any link to the error code from a workflow details page will only show errors for that workflow. (From the jobdetail page: https://github.com/CMSCompOps/OpsSpace/blob/048366ea2c19496f42eb2d59e29667db9f68ccb4/CMSToolBox/workflowinfo.py#L255-L257). Accessing the error explanations from the global view still shows all the errors from Jean-Roch's explanations.json. This is a ni

[2017-03-07 21:23] dabercro commented on #26
@prozober Can you check out #28 in particular the procedures.py file: https://github.com/CMSCompOps/WorkflowWebTools/pull/28/files#diff-8700d1405003610d0b06a3bb1492f007 (The other things are just bug fixed that I had caught and thrown into my master to patch the server.)

The 're' key makes it parse the 71104 error logs for the line that matches 'The job can run only at .*(T[12].*)', with the grou

[2017-03-08 04:13] areinsvo commented on #6
@prozober, let me know when you've resubmitted the action the way it should be, and we can test the script again. I've changed it back so it doesn't worry about sites in drain and trusts the operator to handle it, per Jean-Roch's suggestion.

[2017-03-08 12:34] prozober commented on #6
Allie, I've already sent the action. Please, go ahead.

[2017-03-08 15:32] areinsvo commented on #6
Third time's the charm:
areinsvo_ACDC0_task_EXO-RunIISummer15GS-03460__v1_T_170308_163052_6405
areinsvo_ACDC0_task_EXO-RunIISummer15GS-03460__v1_T_170308_163108_3300

[2017-03-08 17:06] prozober commented on #6
For task EXO-RunIISummer15GS-03460_0/EXO-RunIISummer15GS-03460_0MergeRAWSIMoutput/EXO-RunIISummer16DR80Premix-07371_0, I enabled the xrootd option, so, everything is OK.
For EXO-RunIISummer15GS-03460_0 I didn't set any value (we need to take the value from its originalReques), but as you can see here:
https://cmsweb.cern.ch/reqmgr2/fetch?rid=areinsvo_ACDC0_task_EXO-RunIISummer15GS-03460__v1_T_1703

[2017-03-08 17:24] dabercro commented on #6
@prozober https://github.com/dabercro/WorkflowWebTools/commit/35d40c9a484674ede8afcb8840326899e2ab4728 allows you to double click a button for xrootd, etc to make it false again. Since it's not a backend change, I was able to push it to the server already without a restart.

[2017-03-08 18:28] areinsvo commented on #6
What does the json look like if it is false? Right now it is 'xrootd': 'enabled' when set to true. Safe to assume it is set to 'xrootd':'disabled' when false?

[2017-03-08 18:36] dabercro commented on #6
Yeah, that's exactly what it'll be. Keep in mind that it might also not be set. This thread is getting long, but I put a comment a couple days ago of how I would read the dictionary. Here it is again:

    use_xrootd = response[prepID]['Parameters'].get('xrootd')
    if use_xrootd is None:
        # If not set, get the default value of the xrootd
        use_xrootd = some_fuction_call(parameters t

[2017-03-08 18:37] areinsvo commented on #6
Oops, sorry about that. I did see it (and use it), but I clearly didn't remember all of the details. Thanks Dan!

[2017-03-10 15:10] areinsvo opened #29 "Number of messages on Unified critical page"
Not super important, but I'm curious @dabercro :
What constraints are there on the number of messages shown on the Unified critical page? Right now, there are only 12 messages showing up, regardless of the number I put in for "Logs Limit". Normally there are more messages, but there always seems to be a limit to how many messages will show, unaffected by what Logs Limit is set to. (ie if I say 100

[2017-03-10 15:52] dabercro commented on #29
The limit just sets an upper limit. If the number of logs coming back from the elastic search request is fewer, than more won't show up.

The number coming back from elastic search is determined by the size, I think: https://github.com/dabercro/UnifiedWebpagesInstaller/blob/master/showlog/showlog.py#L34 I can make this size a changeable number in case the elastic search machine is flooded by irrel

[2017-03-10 16:01] areinsvo commented on #29
This is the page I look at for the critical messages: http://dabercro.web.cern.ch/dabercro/unified/showlog/?search=critical
Just increasing the size of the elastic search would probably be enough, if making it changeable is too difficult. Most of the time it is fine, as long as I have been looking at the critical page often enough to catch all the messages as they come in.

[2017-03-10 16:08] dabercro commented on #29
I'll make it adjustable just in case. I'll let you know when it's updated.

[2017-03-10 17:23] dabercro commented on #29
This change should do the trick: https://github.com/dabercro/UnifiedWebpagesInstaller/compare/170fba410f...3c46ca6d91 Now there is a fourth field for "Elastic Search Size" in case you're not getting enough logs. Be careful making the number too big, or you'll get an error.

[2017-03-10 20:45] areinsvo commented on #29
Thanks Dan! Any guidelines on what "too big" means?

[2017-03-10 20:58] dabercro commented on #29
It I try to expand the size to 100,000, for example, the elastic search doesn't return. You'll just see a 500 page. 10,000 is fine though, and that's already 10 times as many logs as it searches by default.

[2017-03-10 20:59] areinsvo commented on #29
Thanks! This will help a lot. I don't think we need to keep this issue open any longer.

[2017-03-10 20:59] #29 closed

[2017-03-20 07:27] prozober commented on #6
There are 61 wfs in manual-assistance https://vocms049.cern.ch/unified/assistance.html#assistance-manual
but https://vocms049.cern.ch/unified/all_errors.json is empty. @vlimant, @areinsvo, could you please take a look?

[2017-03-20 11:26] vlimant commented on #6
yes, I disabled it by mistake. It should come back in next cycles.
in-fine we need to find a way to decouple to unified for building it's content. The list of workflows should be enough. maybe we have to plan how to do this

[2017-03-20 12:06] dabercro commented on #6
I already have something that gets errors in the same format from /wmstatsserver/data/jobdetail/ using the workflow name alone. I'll make a test branch that does this with the all_errors.json keys and compare the results with using the full file.

[2017-03-20 14:04] prozober commented on #6
Taking a quick look, almost all the workflows in assistance have reading issues, I think this is the moment to test the decision making using the clustering algorithm.
Once the global error is populated, I will send a couple of ACDCs. @areinsvo I will let you know when I send the actions.

[2017-03-20 15:15] dabercro commented on #6
@prozober To manually force the global errors to update, navigate to https://vocms0113.cern.ch:80/resetcache This is linked on the welcome page. I should make it accessible from the global errors page too.

[2017-03-20 16:09] prozober commented on #24
Now that there are workflows in assistance again, I've checked this change. Everything is OK, the links provide the info we need. We can close this issue.

[2017-03-20 16:09] #24 closed

[2017-03-21 17:41] prozober commented on #26
I am not sure if I got this. For example, we have this workflow
https://vocms0113.cern.ch:80/seeworkflow?workflow=pdmvserv_task_HIG-RunIISummer15GS-01999__v1_T_170316_205819_3815

- The first task had two failures, one of those was the "71104" submit error to FNAL. The failed job should be reported in the T1_US_FNAL column, right?
- Also, the checkbox for the site "T1_US_FNAL" should be selected b

[2017-03-21 17:48] dabercro commented on #26
I only see "71102" (and "-1") for the first two tasks. The "71104" error is thrown for the third task, which does have T1_US_FNAL selected by default. I should clean up these tables to make them easier to read...

[2017-03-21 17:49] dabercro commented on #26
Also, the 71102 logs only mention T0_CH_CERN: https://vocms0113.cern.ch:80/explainerror?errorcode=71102&workflowstep=/pdmvserv_task_HIG-RunIISummer15GS-01999__v1_T_170316_205819_3815/HIG-RunIISummer15GS-01999_0/HIG-RunIISummer15GS-01999_0MergeRAWSIMoutput/HIG-RunIISummer16DR80Premix-02408_0/HIG-RunIISummer16DR80Premix-02408_1

[2017-03-21 18:03] prozober commented on #26
oh, stupid me checked the wrong column, and when I clicked on the Exit Code, it displays the 71104 logs for the whole workflow.
Could we get the logs only for the task involved?

As you said, the third task had the "71104" error and the FNAL checkbox is selected, but, the 2 failed jobs are located in the "**Unknown**" column, could they be located at the FNAL column?

Thanks Dan.

[2017-03-21 18:08] dabercro commented on #26
Both of those things are certainly possible. Changing the columns is sort of non-trivial since it involves the structure of the all_errors.json file, but I can leave this issue open to work on it.

[2017-03-22 08:28] prozober commented on #26
Dan, it would be great if we do not include in the tables the sites where the workflow/task did not fail, it would be easier to read. What do you think? should I create a new GH issue?

[2017-03-22 10:59] prozober opened #31 ""Apply to multiple" use cases"
Apply to multiple it is not a trivial task, we need to define somehow the use cases.

**When do we want to apply an action to multiple workflows?**

When we can cluster the workflows according to the failures they had, e.g.:
1. A set of workflows is getting similar exit codes not matter the site (config issue).
2. One site is in trouble and a set of workflows is getting the same exit codes at that

[2017-03-22 17:55] dabercro commented on #26
Yeah I agree, I think I said that in the 71104 issue. I'll work on that today.

[2017-03-22 19:16] dabercro commented on #31
Okay, I can add some options:
 - Auto: Just do the default sites
 - Manual: Set which sites to run at by hand
 - Ban: Same as Auto, but with certain sites disabled by default. (May be a problem if a certain task can only run at that site... In this case, I would probably just not store the action and force the operator to look.)

[2017-03-22 19:57] dabercro commented on #26
#32 Changes the workflow error table.

[2017-03-23 10:48] vlimant commented on #6
@dabercro we might consider moving these to vocms049 and integrate in Unified, so that it has direct access to the db. The separation "setting action" and "enacting" should stay separated anyways IMO, so getting into 049 will not be an issue

[2017-03-23 15:22] dabercro commented on #6
That would probably be a good idea. When working on vocms0113 though, I had trouble getting mod_wsgi compiled for Python 2.7. Would you want to set that up on vocms049, or should we just use the built in Cherrypy server and only open the used port to CERN addresses?

[2017-03-27 16:25] prozober commented on #6
@areinsvo I've submitted an action for the workflow pdmvserv_task_HIG-PhaseIFall16wmLHEGS-00056__v1_T_170316_161618_7407, could you please take a look?

`{u'HIG-PhaseIFall16wmLHEGS-00056_0/HIG-PhaseIFall16wmLHEGS-00056_0MergeLHEoutput': {'xrootd': u'enabled', 'sites': [u'T2_UK_London_Brunel', u'T2_UK_London_IC', u'T2_UK_SGrid_Bristol', u'T2_UK_SGrid_RALPP'], 'memory': u''}, u'HIG-PhaseIFall16wmLHE

[2017-03-28 13:57] prozober commented on #31
Thanks Dan, this is what we need.
For the "Ban" option, please do not force the operator to select other sites, if he/she selects a "red" site, there must be a good reason.

[2017-03-28 14:44] areinsvo commented on #6
ACDCs created for three tasks:
areinsvo_ACDC0_task_HIG-PhaseIFall16wmLHEGS-00056__v1_T_170328_164213_3110
areinsvo_ACDC0_task_HIG-PhaseIFall16wmLHEGS-00056__v1_T_170328_164220_3110
areinsvo_ACDC0_task_HIG-PhaseIFall16wmLHEGS-00056__v1_T_170328_164228_1417

@prozober Let me know if anything needs to be changed.

[2017-03-28 14:57] prozober commented on #6
@areinsvo, I created by mistake the ACDCs for this workflow today, I am sorry. I aborted your ACDCs.
Could you please take a look at the action I just sent for pdmvserv_task_TRK-PhaseIFall16GS-00017__v1_T_170310_150656_7717.
Thanks!

[2017-03-28 15:01] prozober commented on #6
BTW, Ali's ACDCs were correctly created and assigned. Let's see how task_TRK-PhaseIFall16GS-00017 runs.

[2017-03-28 15:32] areinsvo commented on #6
I tried to run the script on the new action that you created, but it fails my check against creating partial ACDCs. According to the ACDC documents, there should be 9 tasks to recover (see below), but the action that was submitted only includes 6 tasks (numbers 3 - 8).   Am I supposed to be ignoring tasks that include "CleanupUnmerged"?

1. /pdmvserv_task_TRK-PhaseIFall16GS-00017__v1_T_170310_1506

[2017-03-28 15:35] vlimant commented on #6
yes, cleanup should be ignored indeed. isn't recoveror doing this by default ?

[2017-03-28 15:48] areinsvo commented on #6
Not explicitly, although I'm using WMErr rather than getSummary to get the list of tasks. Maybe cleanup jobs were already excluded from getSummary so it didn't matter before. It's an easy thing to add to my script, however.

ACDCs created for pdmvserv_task_TRK-PhaseIFall16GS-00017__v1_T_170310_150656_7717:
areinsvo_ACDC0_task_TRK-PhaseIFall16GS-00017__v1_T_170328_174440_2926
areinsvo_ACDC0_task_TR

[2017-03-28 19:54] prozober commented on #6
@dabercro, we have a problem with the sites checked by default for the assignment.
e.g. https://vocms0113.cern.ch:80/seeworkflow/?workflow=pdmvserv_EGM-PhaseIFall16DR-00014_00022_v0__170324_201657_9223

- For example, if you go to the task StepOneProc, you will see the workflow needs to be recovered at 19 sites.
- If you go to the ACDC option, you can see that even though the sites are enabled, on

[2017-03-28 20:04] dabercro commented on #6
The reason for that is not all the sites show up in the recovery docs. For example, if I compare with:  https://cmsweb.cern.ch/couchdb/acdcserver/_design/ACDC/_view/byCollectionName?key=%22pdmvserv_EGM-PhaseIFall16DR-00014_00022_v0__170324_201657_9223%22&include_docs=true&reduce=false
I see no T1_DE_KIT, which is listed as a site that needs recovering in the table, but not checked by default. The

[2017-03-28 20:33] prozober commented on #6
Please, forget my comment, I got completely confused. The sites by default are OK, this is the behavior we want. Sorry!

[2017-03-28 20:36] prozober commented on #6
If you do not mind, could you please delete the rows of exit codes with zero occurrences? Thanks!

[2017-03-28 20:40] dabercro commented on #6
Okay, that should be easy.

Just a heads up, I'm working on the Auto/Manual/Ban site selection today. The backend is a little tricky, but I think I almost have it. I hope to update the server tomorrow evening.

[2017-03-29 13:00] prozober commented on #6
Thanks Dan and Ali.
task_TRK-PhaseIFall16GS-00017 is running fine, just a couple of failures but they are not related to the ACDC creation and assignment.
I would like to do another test, in this case, we will change the splitting parameter.
Workflow:pdmvserv_task_EXO-PhaseIFall16GS-00011__v1_T_170309_130412_5503
Action:
`u'EXO-PhaseIFall16GS-00011_0/EXO-PhaseIFall16GS-00011_0MergeRAWSIMoutput/EXO

[2017-03-29 19:23] areinsvo commented on #6
@prozober The script can handle 2x and 3x splitting, but can you clarify what is meant by max splitting?

I tried to run the test on the workflow you suggested, but it failed with the output "I should not be doing splitting for this type of request" because the RequestType is TaskChain and 'InputDataset' is not found in Task1. This bit of code was copied over from the recoveror.py Unified module.

[2017-03-29 19:31] areinsvo commented on #6
The lone ACDC was aborted.
areinsvo_ACDC0_task_EXO-PhaseIFall16GS-00011__v1_T_170329_210649_7578

[2017-03-30 10:16] prozober opened #36 "Logs by exit code"
It is super useful to read the logs by exit code, for example this way:
https://vocms0113.cern.ch:80/explainerror?errorcode=8001

As operator the 8001 exit code is an interesting one. Most of the failures are due to file reading issues, but sometimes the problem is different and we need to pay special attention.

We can catch an error like this:
[code]
Likely we need to report the problem on hyper

[2017-03-30 10:59] prozober commented on #6
- @areinsvo , for max splitting we set 1lumi per job.
- I am puzzled. The splitting must be changed **only** for "task EXO-PhaseIFall16GS-00011_0/EXO-PhaseIFall16GS-00011_0MergeRAWSIMoutput/EXO-PhaseIFall16DR-00037_0", we shouldn't have had problems with the ACDC for task /**/EXO-PhaseIFall16MiniAOD-00036_0MergeMINIAODSIMoutput.
- For "RequestType is TaskChain and 'InputDataset' is not found in Ta

[2017-03-30 14:11] dabercro commented on #36
I was able to find that log here: https://vocms0113.cern.ch:80/explainerror?errorcode=8001&workflowstep=/pdmvserv_task_TRK-PhaseIFall16GS-00016__v1_T_170310_122236_4192

I did that by first going to https://vocms0113.cern.ch:80/listworkflows?errorcode=8001&sitename=T1_IT_CNAF and then checking the workflows individually. I will try to think of some way to make that easier though.

[2017-03-30 17:56] dabercro commented on #31
@prozober I will update #35 on the server tonight. Try it out tomorrow, if you can, and let me know if anything goes wrong.

[2017-03-31 08:19] prozober commented on #31
I applied an action to multiple; from pdmvserv_task_TRK-PhaseIFall16GS-00016__v1_T_170310_122236_4192 to pdmvserv_EGM-PhaseIFall16DR-00014_00022_v0__170324_201657_9223. The action looks a bit strange for me.

For example, here:

The task TRK-PhaseIFall16DR-00033_0MergeRAWSIMoutput does not belong to the workflow pdmvserv_EGM-PhaseIFall16DR-00014_00022_v0__170324_201657_9223.
@dabercro, could you p

[2017-03-31 08:20] prozober commented on #31
On the other hand, I realized when we ban a site,  we usually enable the xrootd for the related tasks. Sometimes the only site by default is the one we want to ban. So, when we ban a site we need to be able of:
- Selecting an alternative site to run.
- Enabling xrootd or secondary_xrootd.

[2017-03-31 15:32] prozober commented on #6
Well, bad news @areinsvo, the ACDCs for pdmvserv_task_TRK-PhaseIFall16GS-00017__v1_T_170310_150656_7717 are not okay, and I just realized it.
The tasks you mentioned here https://github.com/CMSCompOps/WorkflowWebTools/issues/6#issuecomment-289809010, were the ones we needed to ACDC.
But, then I went through the six ACDCs we created, and the are related to 3 tasks. So, every task was ACDC twice.

T

[2017-03-31 15:34] prozober opened #37 "Moving to vocms049"
We better separate this request https://github.com/CMSCompOps/WorkflowWebTools/issues/6#issuecomment-288681807, don't you think?

[2017-03-31 17:25] dabercro commented on #37
That's probably a good idea. Let me ping @vlimant again.

Copied from previous reply:

When working on vocms0113 though, I had trouble getting mod_wsgi compiled for Python 2.7. Would you want to set that up on vocms049, or should we just use the built in Cherrypy server and only open the used port to CERN addresses?

[2017-03-31 17:26] dabercro commented on #31
Okay, I should be able to fix the task problem today. I already know what caused it. The other requests are definitely possible, but I'll have to think about how I want to do that.

[2017-03-31 19:22] dabercro commented on #31
#38 Should fix the extra steps.

@prozober for the other two fixes, I'm thinking that if zero sites are detected as available after the action is submitted, the affected workflows won't be submitted and the operator will be prompted to select sites or xrootd for the relevant steps. Does that sound okay for now? It'll be a little more involved to give the operator a warning before the submission, t

[2017-04-03 16:08] areinsvo commented on #6
Yes, I see the issue in my code. The problem came up when I tried to go from the task name provided in the action json to the full task name needed by req mgr. I will work on fixing this today. Early afternoon tomorrow, @prozober, if you want to resubmit the action for that workflow, I can run the script and we can work together to make sure it was fixed properly.

I will add the option for 'max'

[2017-04-03 17:57] areinsvo commented on #6
Max splitting was added and the task names are now treated correctly. Ready for another test when you are @prozober

[2017-04-10 15:17] prozober commented on #6
We ran out of small and low priority workflows to test. I think we need to submit a couple of backfills workflows, @vlimant, in your opinion, what would be good candidates?

[2017-04-12 12:48] prozober opened #39 "Include the recovery procedure"
Just a reminder, we need to include the "Recovery" option, besides ACDC and Kill and Clone.

Currently, we create recoveries as follows: https://twiki.cern.ch/twiki/bin/viewauth/CMS/CompOpsPRWorkflowTrafficController#Recovering_Workflows

[2017-04-12 14:20] dabercro commented on #39
Okay thanks, like I said, I hadn't realized that was separate from ACDC. Can you give me a list of parameters that you would like for Recovery? Is this also split by tasks?

[2017-04-18 15:15] prozober commented on #6
Hi @areinsvo, we have three low priority workflows to test. I just sent the action for all of them.

`{"pdmvserv_task_SMP-RunIISummer16DR80Premix-00203__v1_T_170412_214135_9645": {"Action": "recover", "Reasons": ["Just a test to see what it looks like."], "user": "prozober", "Parameters": {"SMP-RunIISummer16DR80Premix-00203_0/SMP-RunIISummer16DR80Premix-00203_1/SMP-RunIISummer16DR80Premix-00203_1M

[2017-04-18 16:08] areinsvo commented on #6
Hi @prozober ,

I'm confused. For the last two workflows, everything looks fine, but for [1], there are no errors listed in the WMErr document I use to make sure we aren't doing partial ACDCs. The script fails because the number of tasks with errors in WMErr doesn't match the number of tasks in the action json. Any idea why that might be happening?
[1] pdmvserv_task_SMP-RunIISummer16DR80Premix-002

[2017-04-18 16:24] prozober commented on #6
Maybe because the two involved tasks have unreported errors?

https://vocms049.cern.ch/unified/report/pdmvserv_task_SMP-RunIISummer16DR80Premix-00203__v1_T_170412_214135_9645
https://cmsweb.cern.ch/couchdb/acdcserver/_design/ACDC/_view/byCollectionName?key=%22pdmvserv_task_SMP-RunIISummer16DR80Premix-00203__v1_T_170412_214135_9645%22&include_docs=true&reduce=false

[2017-04-18 16:32] prozober commented on #6
I checked the two workflows left, and the ACDCs look nice.  I will keep an eye on them.

[2017-04-18 17:22] areinsvo commented on #6
Hmm, yes if there are unreported errors that don't show up in WMErr, that could cause a problem with the script. I will investigate later.

[2017-04-18 17:35] vlimant commented on #6
@areinsvo maybe we have to by-pass some of the internals of recoveror so that it just creates the acdc, and does not check further on what could have to be done, when receiving actions.

[2017-04-18 18:03] areinsvo commented on #6
After chatting with @vlimant, we agreed that removing some of the checks in recoveror is probably a good idea. That way, we trust that the action is correct, and the script (heretoforth named "actor") simply executes the actions. This will also hopefully let us move on from testing the script and spend time on the machine learning layer instead.

To that end, here is a list of the current sanity c

[2017-04-19 13:19] prozober commented on #6
We should have a document to organize what we discuss in the meeting. https://docs.google.com/document/d/1VjcV39Ow9-5ucn50-PD9SciiPKsmi_K8Rj2NLOnBBx0 ?

In the meantime, can we send the actions for pdmvserv_task_SMP-RunIISummer16DR80Premix-00203__v1_T_170412_214135_9645?

[2017-04-19 13:55] areinsvo commented on #6
The ACDCs for pdmvserv_task_SMP-RunIISummer16DR80Premix-00203__v1_T_170412_214135_9645 were just submitted.

[2017-04-19 14:16] prozober commented on #6
Thanks Ali, everything looks OK with the ACDCs.

[2017-04-25 12:36] prozober commented on #39
The recovery procedure involves three phases:
 **In phase 1** we create a json files with the specifications of the new requests we are going to create to recover the missing lumis for one workflow. We will get one json file per datatier.
There is an example of the json file:

`{"createRequest": {"InitialTaskPath": "/fabozzi_HIRun2015-HIMinimumBias1-02May2016_758p4_170306_123923_2547/DataProcessin

[2017-04-27 09:34] prozober commented on #31
Yes, we need to pop-up a warning saying we do not have any site to select.
For example here
https://vocms0113.cern.ch:80/seeworkflow?workflow=pdmvserv_task_JME-PhaseISpring17GS-00002__v1_T_170422_041914_8197
As T2_FR_CCIN2P3 is going to be banned, 5 out 6 tasks won't have sites to be assigned, where can we select an alternative site to run?

[2017-04-28 19:45] dabercro commented on #31
Ah, I could have answered the question directly by saying that you can just resubmit actions the standard way, and the old parameters will be over written.

Even better though: #42 now creates a page when there are recovery tasks with no sites to run at. Here, you will have to select sites manually. I haven't thought of a more clever way to do it. After submitting sites from this page, it just ret

[2017-05-05 20:48] dabercro commented on #22
@prozober #44 will group tasks under workflows and workflows under Prep ID. All but the Prep ID level are hidden by default.

[2017-05-08 09:03] prozober commented on #22
The new view is awesome! It provides us a great view of the failures' cluster.
Next step, I think, is adding all the workflows related to a single prepID.
For example PPD-PhaseISpring17wmLHEGENOnly-00012:

- Not only pdmvserv_PPD-PhaseISpring17wmLHEGENOnly-00012_00005_v1__170503_201729_3916 is related.
- We can get that info from https://cmsweb.cern.ch/reqmgr2/data/request?prep_id=PPD-PhaseISpring

[2017-05-08 09:09] prozober commented on #6
@areinsvo, I just sent two actions, could you please take a look?

`{"pdmvserv_PPD-PhaseISpring17wmLHEGENOnly-00004_00005_v1__170503_201705_73": {"Action": "recover", "Reasons": ["Just a test to see what it looks like."], "user": "prozober", "Parameters": {"Production": {"sites": ["T1_DE_KIT", "T1_ES_PIC", "T1_FR_CCIN2P3", "T1_IT_CNAF", "T1_RU_JINR", "T1_US_FNAL", "T2_BE_IIHE", "T2_CH_CERN", "T2_C

[2017-05-08 19:45] areinsvo commented on #6
@prozober The ACDCs have been taken created. Please let me know if everything looks okay.
areinsvo_ACDC0_PPD-PhaseISpring17wmLHEGENOnly-00004_00005_v1__170508_214435_8560
areinsvo_ACDC0_PPD-PhaseISpring17wmLHEGENOnly-00006_00005_v1__170508_214445_1052

[2017-05-09 12:46] prozober commented on #6
Thanks @areinsvo, ACDCs are OK and they are doing great.

[2017-05-11 18:04] dabercro commented on #22
@prozober Whenever I try this request API (for example, I'm looking at https://cmsweb.cern.ch/reqmgr2/data/request?prep_id=PPD-PhaseISpring17wmLHEGENOnly-00012&detail=true), I get workflows that look like

  - pdmvserv_PPD-PhaseISpring17wmLHEGENOnly-00012_00002_v0__170428_121700_8874 (workflow I got PrepID from)
  - prozober_ACDC0_PPD-PhaseISpring17wmLHEGENOnly-00012_00005_v1__170505_171150_6841

[2017-05-11 18:21] dabercro commented on #22
Another current example is https://cmsweb.cern.ch/reqmgr2/data/request?prep_id=ReReco-Run2016D-DoubleMuon-18Apr2017-0001&detail=true

I only see the first workflow in my history... None of the ACDCs.

[2017-05-12 12:08] prozober commented on #22
https://vocms049.cern.ch/unified/all_errors.json only contains the errors from the original request.
That's why I was proposing to change all_errors.json first.
Either we can:
- Ask Unified to provide all the errors from the original request, ACDC and recoveries.
- Our we do it by ourselves. As https://github.com/CMSCompOps/WorkflowWebTools/issues/22#issuecomment-280714056 + get the unreported err

[2017-05-15 08:38] prozober commented on #6
@dabercro, I had one special case today: one workflow was having multiple failures in six tasks. One of those tasks cannot be recovered, the others do.
Thus, we need to have an option to set if we want or not to send an action for every task, could we add something like a checkbox?

[2017-05-15 08:42] prozober commented on #6
Global error is getting the following today

[code]

[2017-05-15 17:08] dabercro commented on #6
@prozober Sorry about that. That was a result of my VOMS proxy expiring. I'm sure Daniel can set it up so that's not a problem anymore after I move to vocms049.

[2017-05-18 09:05] vlimant commented on #22
Hi, I think that we have to have the tool not rely on the full content of all_errors.json as it is very costly to construct and might be discontinued. What you need is the list of workflow in "assistance" (which you can get from that json for now, and later directly from the unified db when the tool will be on vocms049) and then need to perform a series of queries to reqmgr2 to know what are the r

[2017-05-18 09:27] amaltaro commented on #22
AFAIK there is no API for retrieving all the ACDCs a parent request has.
But you can search for prepid and and request_type=Resubmission, should give you the
same results.

[2017-05-18 09:32] vlimant commented on #22
@amaltaro modulo checks on OriginalRequestName or something, to make sure the acdc belong to the right workflow

[2017-05-18 09:39] prozober commented on #22
- Get the list from https://github.com/CMSCompOps/WorkflowWebTools/issues/22#issuecomment-299812745
- Now we can query what is the OriginalRequestName for every workflow we get, then we can build the ACDC/recovery tree.

[2017-05-18 17:22] dabercro commented on #22
I think #46 is what you want for the globalerror page at least. It does slow down the page a bit at first though while a cache is populated with the jobdetail.

[2017-05-22 08:23] prozober commented on #6
We want to test the "kill and clone" option.
https://vocms0113.cern.ch:80/seeworkflow/?workflow=pdmvserv_task_EXO-RunIISummer15GS-10197__v1_T_170510_202441_6389
The prepID, in this case, has 3 active (status=completed) ACDCs, and the original request.
When we send the option kill and clone, we need to be aware we are going to reject all the active ACDCs/recoveries, and reject and clone the origina

[2017-05-22 15:07] dabercro commented on #6
@prozober Do you want me to filter the ACDCs by status, or just list all of them?

[2017-05-22 15:34] prozober commented on #6
It is better to list them all. Although, we will only take actions over the "active" ones.

[2017-05-22 17:57] areinsvo commented on #6
In the normal Unified rejector script, we alert the submitters via McM when a workflow is rejected, and we include a comment as to why this action is being taken. @prozober when you kill and clone, is this something you do as well? If so, should I use the "Reasons" input, or do we want to include another field for you to list comments that will be passed on to McM?

[2017-05-22 18:45] dabercro commented on #6
#49 Lists the ACDCs with the action, regardless of what the action is. I also retroactively applied it to the action that was just submitted:

``{"pdmvserv_task_EXO-RunIISummer15GS-10197__v1_T_170510_202441_6389": {"Action": "clone", "Reasons": ["Just a test to see what it looks like."], "ACDCs": ["prozober_ACDC0_task_EXO-RunIISummer15GS-10197__v1_T_170515_105127_9071", "prozober_ACDC0_task_EXO-Ru

[2017-05-22 21:38] areinsvo commented on #6
Is there a list of possible parameters for the clone actions? Are they the same as those for ACDC actions? Right now only the memory parameter is implemented, but the Unified rejector script has a lot of options, including changing the pileup (deterministic or not), EventsPerJob, TimePerEvent, ProcessingString,AcquisitionEra, SiteWhiteList, and Multicore settings.

Also, I've been updating [the go

[2017-05-23 14:49] dabercro commented on #6
The only other option is splitting. The list is here: https://github.com/CMSCompOps/WorkflowWebTools/blob/master/runserver/static/js/makeparams.js#L144-L150 You can either add more with a PR (let me know if you have questions about if you should put something in texts or opts) or let me know what you want to add.

[2017-05-23 15:48] prozober commented on #6
I usually do not inform McM, but a better idea is to discuss this tomorrow.
The only options I am allowed to change using the WMAgentScripts are the memory, and manually the splitting. So @dabercro, these two are the only parameters we need, for now.
@areinsvo, we usually invalidate the output datasets when we clone a request, is it also included in the Unified rejector?
If so, the action is ready

[2017-05-23 17:31] areinsvo commented on #6
@prozober The clone was submitted, and all output datasets and ACDCs should be rejected. Please let me know if something doesn't look right.
areinsvo_task_EXO-RunIISummer15GS-10197__v1_T_170523_192807_9047

[2017-05-23 18:04] prozober commented on #6
Everything looks OK with the clone. Let's see how it goes.

[2017-06-07 08:49] prozober commented on #6
@dabercro, I am taking a look at https://vocms0113.cern.ch:80/seeworkflow/?workflow=prozober_recovery-0-fabozzi_Run2016D-v2-DoubleMuonLowMass-18Apr2017_8028__170601_185152_7661

The unreported errors are lost. If you check the ACDCServer
https://cmsweb.cern.ch/couchdb/acdcserver/_design/ACDC/_view/byCollectionName?key=%22prozober_recovery-0-fabozzi_Run2016D-v2-DoubleMuonLowMass-18Apr2017_8028__170

[2017-06-07 13:05] dabercro commented on #6
Okay, I think what is happening is I overestimated the jobdetail report. I can confirm that the unreported errors were not reported on WMStats server. I cache all the JSONs returned for a week or so. While the workflow is taken off WMStats server already, I pasted the cache here: https://gist.github.com/dabercro/2e893a2301277409f7866e1a0801db9b Maybe the unreported errors never show up here? I did

[2017-06-09 14:00] prozober commented on #6
I am a bit confused. I did not get where are you reading the unreported errors (-1 exit codes in our table, am I right?).

[2017-06-12 14:15] dabercro commented on #6
Usually, I was getting them from all_errors.json. For ACDCs though, I was getting errors from jobdetail, since they are not in all_errors.json. I'm guessing unreported errors are not reported in jobdetail. Now, for ACDCs, I can also check the couchdb/acdcserver API.

[2017-06-13 14:14] prozober commented on #6
Hi Dan, I think it not that straightforward to use the ACDC documents.  I created this GH issue https://github.com/dmwm/WMCore/issues/7925.

[2017-06-13 15:25] prozober commented on #6
@areinsvo, I sent seven actions today :D. Most of them are ACDCs over xrootd.
I am going to use only our tool to recover workflows in assistance (except rerecos, we need to work in the recovery procedure).

[2017-06-13 20:09] areinsvo commented on #6
@prozober a few of the actions failed:
Error twice in making ACDC for pdmvserv_task_PPD-PhaseIISNBSpring17wmLHEGS-00001__v1_T_170608_215559_3254
      Invalid spec parameter value: WMSpecFactoryException
      Validation failed: RequestPriority value: 1100000
Error twice in making clone for prozober_task_HIN-pPb816Spring16GS-00050__v1_T_170609_120234_6155
        Message: There are unknown/unsuppo

[2017-06-14 09:43] prozober commented on #6
AFAIK, the request manager does not allow to set priorities above 1 million, maybe that's the problem. Right, @vlimant @amaltaro ?

[2017-06-14 10:09] vlimant commented on #6
yes indeed, priority must be below 1M. There is a min(1M-1,priority) somewhere in unified

[2017-06-14 12:28] amaltaro commented on #6
Correct: https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L970

[2017-06-14 15:06] areinsvo commented on #6
ACDC and clone created for the two workflows mentioned above that initially failed.

[2017-06-14 16:44] prozober commented on #6
Thanks Allie, so far so good.

I was wondering why do we have several ACDCs with priority>1 million, for example, https://cmsweb.cern.ch/reqmgr2/fetch?rid=prozober_ACDC1_task_TSG-PhaseIISpring17GS-00009__v1_T_170613_100035_6270.

[2017-06-15 17:26] prozober commented on #6
@areinsvo, I just sent another 21 actions. Could you please take a look? Thanks!

[2017-06-16 14:47] areinsvo commented on #6
Sorry Paola, I saw this notification yesterday but didn't do it right away and then forgot until now.
All of the actions went through without errors.

[2017-06-16 15:03] prozober commented on #6
Thanks Allie.

[2017-06-16 17:55] prozober commented on #6
Hi guys, I think I will continue sending actions, maybe on daily basis. We need to start thinking in a way for automatizing the execution of the basic actions, for now. I don't want to bug Allie every day ;)

[2017-06-16 18:06] areinsvo commented on #6
In order for that to happen, we/I need to think about what output or logs we want from the code. Right now it prints out a whole lot of stuff, including the parameters used for every ACDC and clone. If we are automatizing the execution, it would make sense to save this output in a log in case of issues later. But we also need an alarm for when the action fails to work at all and needs attention. T

[2017-06-17 08:44] vlimant commented on #6
it is going to be very easy to put this in the regular cycle of modules, get the logs etc. it should run after the current recoveror IMO. let's do that quickly.
@areinsvo please take a look at existing modules and the use of sendLog and workflowInfo.sendLog so as to have the proper notifications first. What is relevant to the user/us to see quickly should be in sendLog, the rest can stay a print (

[2017-06-20 08:35] prozober commented on #6
@areinsvo, good idea. Please, run the script at the end of every work day until the automation is completed.

[2017-06-20 13:40] prozober opened #54 "Following up the kill and clone action"
Today I was testing the "kill and clone: action for workflows with >0 ACDC rounds and I saw something weird.
We agreed that the recovery tool would provide the list of ACDCs we need to reject when the kill and clone option is selected, right?
We can have something like this:

- Original workflow
  - First ACDC round.
    - Second ACDC round.
      - Third ACDC round.

1. So, The operator will chec

[2017-06-20 13:50] prozober opened #55 "Adjusting parameters for seeworkflows"
Could we please include the secondary and primary input dataset presence?
Something like this https://vocms049.cern.ch/unified/report/fabozzi_Run2016C-v2-MuOnia-18Apr2017_8028_170519_182404_8657.
It is useful to make decisions, for example, where we should run and ACDC or recovery workflow.

[2017-06-20 15:24] dabercro commented on #54
If I understand you, the problem with the current setup is that the tool only includes ACDCs newer than the selected workflow or ACDC in the list of ACDCs. You want this check to be disabled for "kill and clone," right? Should I also disable the "Resubmission" check too in order to include the original workflow if an ACDC is selected, or should I include the original workflow in the action documen

[2017-06-20 15:31] dabercro commented on #55
Sure, I can add a check through PhEDEx. My guess though is that a lot of failures occur when something went wrong during transfer and PhEDEx didn't realize it. This leads to missing files. MIT is working on this: https://github.com/SmartDataProjects/ConsistencyCheck I can try to include results from here.

[2017-06-20 18:07] prozober commented on #54
Yes, we should disable kill and clone for ACDCs. I think that would be enough.
BTW, could you please delete the action I send for areinsvo_ACDC0_task_TOP-RunIISummer15wmLHEGS-00213__v1_T_170616_164109_5082. Thanks.

[2017-06-20 18:15] dabercro commented on #54
Okay, I can disable the option easily enough.

The action is removed.

[2017-06-20 19:09] dabercro commented on #54
So I made a PR that just removes the 'clone' option from every page where the type is Resubmission. Do you think this will do what you want? #56 If yes, I'll merge it and update the server.

[2017-06-21 08:11] prozober commented on #6
@areinsvo, I sent an action yesterday related to this ticket https://its.cern.ch/jira/browse/CMSCOMPPR-1049
The action was "kill and clone" with max splitting.

-This is the original workflow https://cmsweb.cern.ch/reqmgr2/config?name=areinsvo_task_HIN-pPb816Spring16GS-00050__v1_T_170614_170548_982
- And this is the clone https://cmsweb.cern.ch/reqmgr2/config?name=areinsvo_task_HIN-pPb816Spring16G

[2017-06-21 08:14] prozober commented on #54
Please, go ahead.

[2017-06-21 18:05] areinsvo commented on #6
@prozober, thanks for noticing that. I didn't realize max splitting wasn't implemented yet for clones. It should work now. Did you want to resubmit the action and I can kill and clone again?

[2017-06-22 21:02] areinsvo commented on #6
The script should be ready to be run automatically, but I'm inclined to wait until Monday morning (US time) to put it in the cycle so @prozober and I are both there to see if something is messed up.

[2017-06-26 13:26] prozober commented on #6
Hi Allie, I'll be back on Tuesday. Please, let's put the script in the cycle until then. Thanks!

[2017-06-27 14:32] areinsvo commented on #6
Okay, it has been added to postcycle.sh to be run after recoveror. Let's keep an eye on it. Next time the scripts run, it should execute the action for areinsvo_task_HIN-pPb816Spring16GS-00050__v1_T_170620_224333_9287 (hopefully with proper max splitting this time).

[2017-06-28 08:21] prozober commented on #6
It seems the postcycle.sh hasn't run yet, do we need to do something else?

[2017-06-28 08:48] vlimant commented on #6
I added the directory for logs https://vocms049.cern.ch/unified/logs/actor/ in which things will go.
Just keep an eye on that directory for activity

[2017-06-28 20:19] prozober commented on #6
Guys, I think we need to add more options to the splitting changing in our tool. 2x,3x and max are not enough IMO.
What if we use a dropdown list with options like 2x, 3x, 5x, 10x, 20x, 50x,100x, 200x.., max?

[2017-06-28 20:27] dabercro commented on #6
How does #57 look?

[2017-06-28 20:28] areinsvo commented on #6
I just made the tiny modifications so actor.py can handle it. All clear from my side.

[2017-06-28 20:41] prozober commented on #6
If we include an additional option, let's say 30X, would be actor.py able of handling it?
If so, please, let's go ahead and merge the PR. Thanks!

[2017-06-28 20:44] areinsvo commented on #6
Yes, it just takes the splitting factor from the string by dropping the x (after checking that it isn't set to max splitting). There aren't any specified values that it needs to match, so you and Dan can change the options as much as you want now :)

[2017-06-28 21:02] dabercro commented on #6
Okay, additional options should show up on the server. We also just make that a text field, if that's easier.

[2017-06-29 16:53] prozober commented on #55
I also want to include the percentage of progress for output datasets, something similar to the assistance-manual summary: https://vocms049.cern.ch/unified/assistance.html#assistance-manual
Maybe @vlimant can guide us.

Next thing, I think it is necessary to include a link to the related jira tickets. The query should have this format https://its.cern.ch/jira/issues/?jql=text~ReReco-Run2016B-MuonE

[2017-06-29 16:56] prozober commented on #6
I think it is safer in that way, crazy splitting can cause a mess in production :)

[2017-06-29 17:04] prozober commented on #6
I think we need to include another action in our tool; the "by-pass" option.
Right now we by-pass a workflow when we conclude we have enough statistics to announce it, or when it has issues that cannot be recovered.
The procedure consists in including the name of the original workflow into a JSON file located into the operator's personal AFS space.
Can we make Unified to read the JSON file from an

[2017-06-29 17:43] areinsvo commented on #6
@prozober, I'm a little confused. Why do we need to add the bypass option to the recovery tool? From your description, it doesn't sound like something we want to happen automatically in the same way ACDCs and clones will eventually be done by the machine learning part of the tool.

Is the point that you want to be able to put workflows in bypass from the recovery tool instead of having to edit you

[2017-06-29 19:23] vlimant commented on #6
Hi, having a bypassing web interface is a good idea. we can have unified read a bypass list from Dan's tool, or make another interface for it, whichever seems more reasonable and concentrated. We should think of the force-complete interface at the same time. Maybe all this in a different GH issue to not confuse the good progress that you guys have gone through

[2017-06-29 20:23] prozober commented on #6
Hi Allie, you are right, I wasn't thinking of automatizing the by-pass option, the learning model must not take such kind of decisions.
I want to be able to take any kind of action over the workflows using only Web tool, but of course,  not all of them should be automized. Jean-Roch is right, those "special actions" could be included in a separated interface. I will create the GH issue!

[2017-06-30 09:09] prozober opened #58 "Interface for special actions"
As discussed in your main issue
https://github.com/CMSCompOps/WorkflowWebTools/issues/6#issuecomment-312073860
we need to start thinking about a separated interface where we can take specials action over the workflows. Those actions should not be automatized.
The special actions so far are:
1. By-pass.
2. Force-complete: this is kind of different because the action should be taken over active work

[2017-06-30 15:09] dabercro commented on #58
Okay, I'm thinking I can put these as options under the "Other action" option. Does that sound separate enough? I'll leave the "other" textbox for fun, but add another set of options for by-pass and force-complete.

[2017-06-30 15:33] dabercro commented on #58
#59 is an example of this. Testing the output on my desktop gives me something that looks like this:

``{"fabozzi_Run2016H-v1-ZeroBiasIsolatedBunch5-09Nov2016_8023_161109_181336_2225": {"Action": "special", "Reasons": [], "ACDCs": ["prozober_ACDC0_Run2016H-v1-ZeroBiasIsolatedBunch5-09Nov2016_8023_161121_093315_8014", "prozober_ACDC0_Run2016H-v1-ZeroBiasIsolatedBunch5-09Nov2016_8023_161121_230507_1

[2017-06-30 15:47] dabercro commented on #55
Okay. My guess is the first thing would be easier to do once we move machines.

The link to JIRA is in #60 which I'll merge soon.

[2017-07-18 07:33] prozober commented on #6
@areinsvo, @dabercro something rare is happening with our tool.
I sent this action yesterday:

`{"pdmvserv_task_MUO-PhaseIISNBSpring17GS-00002__v1_T_170713_102113_8656": {"Action": "clone", "Reasons": [], "ACDCs": [], "user": "prozober", "Parameters": {"splitting": "10x", "memory": ""}}}`

the tool is creating a new clone in every cycle, the clones are not assigned, they are just sitting in "new".

[2017-07-20 00:24] areinsvo commented on #6
Hi @prozober. Sorry for not getting to this yesterday. I fixed the typo that led to the failure in assignment (bad copy and paste job, and apparently that part of the code hadn't been tested yet). It should run properly if you resubmit the action.

I also added a critical message if the clone fails. I need to think about how to prevent this situation from happening, where a new clone is created ev

[2017-07-20 04:41] vlimant commented on #6
IMO, since the assignment is supposed to function 100% of the times, it's fine to leave a critical message and multiple ACDC created over and over. No need to code in a complicated condition to catch this. my 2 cents

[2017-07-21 13:27] prozober commented on #6
Sometimes the assignment just fails, for example when reqMgr2 is getting issues. In that case, I think we should inform WTC about the failure and mark the action as taken.
Later on, WTC should find the way of doing the assignment.

[2017-07-21 13:46] prozober commented on #31
Today I had a problem with the "Apply to multiple" option.

Four requests are getting the same fatal exception (exit code 8026), I decided to try a plain ACDC over all of them.
I went to pdmvserv_task_HIN-pPb816Spring16wmLHEGS-00001__v1_T_170716_002841_3832, then I chose ACDC (no parameters were modified), and in "Apply to multiple" I selected the other three workflows.
I sent the action, but this

[2017-07-21 13:52] prozober commented on #31
I forgot to mention, I selected Auto in "Site Selection Method".

[2017-07-21 18:07] dabercro commented on #31
Okay, I figured out the problem. It should be fixed with #61 and hopefully the fix doesn't cause a different problem. Now when I test the submission with acdc and all defaults, I get the following parameters:

``
{"pdmvserv_task_HIN-pPb816Spring16wmLHEGS-00003__v1_T_170716_003045_4272": {"Action": "acdc", "Reasons": [], "ACDCs": [], "user": "dabercro", "Parameters": {"HIN-pPb816Spring16wmLHEGS-000

[2017-07-21 18:08] dabercro commented on #31
I have a meeting for the next hour, but I'll merge this onto vocms0113 after it's over.

[2017-07-21 19:29] dabercro commented on #31
I should maybe also mention that I tested using my desktop as a server. I didn't submit new information to vocms0113.

[2017-07-23 03:49] areinsvo commented on #6
Okay, I will follow Paola's suggestion. I'll let you know when it is implemented.

Right now we are getting a different, new error. There are three actions submitted that don't have anything under 'Parameters'. The actor script refuses to do anything with it, because I at least need the list of task names. @dabercro, do you know how tasks could be left empty?
{u'pdmvserv_task_HIN-pPb816Spring16wmL

[2017-07-23 04:19] vlimant commented on #6
if the check is not too much of a kludge, fine by me

[2017-07-24 11:23] prozober commented on #6
@areinsvo, the problem you mention was related to this issue https://github.com/CMSCompOps/WorkflowWebTools/issues/31#issuecomment-317005002.

[2017-07-24 13:38] dabercro commented on #6
@areinsvo Sorry, I didn't see this over the weekend, but as Paola said, I found the bug that was causing the empty parameters. Someone should resubmit if you still want to run over those workflows.

[2017-07-28 09:11] prozober commented on #55
Dan, something weird is happening.
If I go to https://vocms0113.cern.ch:80/seeworkflow/?workflow=mcremone_ACDC0_task_TOP-PhaseIITDRSpring17DR-00005__v1_T_170725_104805_4763
The report is empty, but still, the workflow got several errors
https://cmsweb.cern.ch/wmstatsserver/data/jobdetail/mcremone_ACDC0_task_TOP-PhaseIITDRSpring17DR-00005__v1_T_170725_104805_4763

Could you please take a look?

[2017-07-28 13:12] prozober commented on #6
@dabercro, why do we always need to reset the cache in order to get the new workflows in assistance in our global errors' view?
Sometimes the web page gets really crazy and loads the workflows that were sitting in assistance two days ago. For example, I reset the cache this morning and took the corresponding actions, but right now there are listed workflows rejected 2 days ago. I am puzzled.

[2017-07-28 14:45] dabercro commented on #6
Yeah, I've never been sure why the cache lasts so long. It results in a lot of strange drawing behavior too. I will see if I can fix that today.

[2017-07-28 15:16] dabercro commented on #55
So the file-cached errors were empty. This cache is not updated by the "clear cache" link. That only changes the cache in memory.

I think the problem is that I'm looking for ACDC information before it finishes running. The reports are then downloaded too early. Is there a way to check if an ACDC is finished running? If not, I can probably just prevent the cache from saving files that are empty JS

[2017-07-28 15:21] dabercro commented on #55
Or I can just delete the file cache at the same time. It's not that much slower to make the calls again.

[2017-08-01 09:05] prozober commented on #6
Dan, regarding https://github.com/CMSCompOps/WorkflowWebTools/issues/6#issuecomment-318712030,  the web page is better now. Thank you.

[2017-08-01 09:15] prozober commented on #6
@dabercro, we need to fix a problem I am having today.
As we discussed (https://github.com/CMSCompOps/WorkflowWebTools/issues/6#issuecomment-280051709), we need to ignore the LogCollect tasks having failures, it is because we cannot ACDC them. But today I had:
https://vocms0113.cern.ch:80/seeworkflow/?workflow=mcremone_ACDC0_task_HIG-RunIISummer15wmLHEGS-01528__v1_T_170726_162154_367

Could you pl

[2017-08-01 15:46] dabercro commented on #6
Sorry, the LogCollect request must have gotten buried ealier. I should be able to pop those tasks out.

The site check should be a bug that I can fix. In the meanwhile, If you give it a dummy site, will the LogCollect also show up on the actions page?

[2017-08-01 17:38] dabercro commented on #6
#65 Should have the LogCollect update and "Only this task" bug fix. It's on vocms0113 now. Let me know if you still have problems.

[2017-08-04 08:51] prozober commented on #55
It seems the details for a specific workflow/exit_code, are not working as it should.

e.g. https://vocms0113.cern.ch:80/explainerror?errorcode=71104&workflowstep=/pdmvserv_task_B2G-RunIISummer15wmLHEGS-01272__v1_T_170722_002539_3158/B2G-RunIISummer15wmLHEGS-01272_0/B2G-RunIISummer16DR80Premix-02154_0

it says "No info for this error code", but I can see the details in here:
https://cmsweb.cern.ch

[2017-08-04 19:25] dabercro commented on #55
https://github.com/CMSCompOps/OpsSpace/pull/55 Fixes it. The problem was that the 71104 was included under a 'submitfailed' header while I was only looking at 'jobfailed'.

[2017-08-09 17:35] prozober commented on #6
@areinsvo , there is a problem with the actor today. Could you please help me to take a look?

[code]

[2017-08-09 19:35] areinsvo commented on #6
To be honest, I'm not sure how that line never gave us an issue before, but it should be fixed now. The ACDCs were created and assigned.

[2017-09-04 19:08] areinsvo commented on #6
Continuing the discussion from https://its.cern.ch/jira/browse/CMSCOMPPR-1242:
For the following action [1] , actor changed the parameter in the main dict, but not in the task itself [2]. @vlimant, this part of the actor script was copied over from recoveror.py. Do I need to change actor to change the 'Memory' parameter inside each 'Task' dict as well?

[1] {u'vlimant_ACDC1_task_SMP-PhaseIISummer1

[2017-09-04 19:16] areinsvo commented on #6
I think the recent changes to reqMgrClient.py affected how the maxRSS is assigned in this case: https://github.com/CMSCompOps/WmAgentScripts/commit/afd3eb8ee566ddc4d1d7c28035ddb27c45d0ad8d

[2017-09-06 15:30] areinsvo commented on #6
Different point (inspired by discussion at https://its.cern.ch/jira/browse/CMSCOMPPR-1216): Right now, if an action is submitted to create an ACDC for a workflow, it ignores the list of ACDCs provided. For example, in the following action, actor.py doesn't do anything with the list of ACDCs. @prozober and @dabercro, what is the intended behavior for this parameter? Initially it was introduced for

[2017-09-06 17:50] dabercro commented on #6
I think it was only really there for the cloning. It's stored for all actions now just for record keeping, but you can feel free to ignore it. @prozober can correct me if I'm wrong though.

[2017-09-07 13:11] areinsvo commented on #6
Okay, just making sure it wasn't supposed to be doing anything for ACDCs. Thanks.

[2017-09-26 12:38] prozober commented on #6
@dabercro, I need some help. This request in assistance-manual (https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=ReReco-Run2016G-MET-07Aug17-0006) has one ACDC with failures, but it does not appear in our global-error page.
Could you please take a look?

[2017-09-26 12:41] prozober commented on #6
Same for https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=ReReco-Run2016D-DoubleEG-07Aug17-0010

[2017-09-26 13:23] prozober commented on #6
https://vocms049.cern.ch/unified/all_errors.json is not up to date, it is not consistent with https://vocms049.cern.ch/unified/assistance.html#assistance-manual.
Is there something broken? @vlimant, @areinsvo

[2017-09-26 20:15] dabercro commented on #6
I can parse the assistance.html page instead of using all_errors if that would be better. I know we wanted to move away from all_errors eventually, I just didn't know how.

[2017-09-26 20:22] vlimant commented on #6
I can put a json somewhere of workflows in assistance*
Alternatively, Dan could connect to the unified-db to read the statuses.
Parsing the html is "sub-optimal" to say the least ;-)

[2017-09-26 20:32] dabercro commented on #6
Do I still need to be running on vocms049 to connect to unified-db? Unfortunately, I'm still waiting on Daniel for certificates, a MongoDB instance, etc, which are also necessary for the tool.

If you want to make a dump that is just a list of workflows in assistance though, I can transition to that and we can stop using all_errors.json soon. It should take me less than a day to make the switch.

[2017-09-26 20:37] vlimant commented on #6
could you start with https://vocms049.cern.ch/unified/public/statuses.json ? regardless how ugly

[2017-09-26 21:33] dabercro commented on #6
#71 seems to be working with that link. I'll update the server soon.

[2017-09-27 15:25] dabercro commented on #6
I should add for all the operators: since it's not using all_errors.json anymore and generating the report itself, the cache takes a long time to be refilled. Since we fixed the other bug where the global errors was not updating, I would try to discourage using the resetcache function unless you're willing to wait a while.

[2017-09-27 15:30] prozober commented on #6
Copy that, thanks Dan!

[2017-09-28 15:01] vlimant commented on #6
@areinsvo please see the "hack" in https://github.com/CMSCompOps/WmAgentScripts/commit/44d50820d2b0fab74772dd6cd10ea94f5e0e7799
you might be able to do it smarter if you know the actual task (TaskName) that needs to have the memory update

[2017-09-28 16:05] prozober commented on #55
Hi @dabercro , I am trying to create an ACDC for the task "DataProcessing/DataProcessingMergeAODoutput", the related workflow is https://vocms0113.cern.ch:80/seeworkflow/?workflow=fabozzi_Run2016C-v2-BTagCSV-07Aug17_8029_170831_200030_7925 .

We already took action over that workflow, but one of the ACDCs had problems, so, I am selecting in our tool the "Only do this task" option.
The tool creates

[2017-09-28 16:10] prozober commented on #55
In fact, the action for the task "DataProcessing" was created. I selected T2_CH_CERN just to test.

{"fabozzi_Run2016C-v2-BTagCSV-07Aug17_8029_170831_200030_7925": {"Action": "acdc", "Reasons": [], "ACDCs": ["mcremone_ACDC0_Run2016C-v2-BTagCSV-07Aug17_8029_170919_211227_6015", "mcremone_ACDC0_Run2016C-v2-BTagCSV-07Aug17_8029_170919_211212_4094", "mcremone_ACDC0_Run2016C-v2-BTagCSV-07Aug17_8029_170

[2017-09-28 16:13] dabercro commented on #55
Okay, this problem sounds familiar, but that was for a task that didn't exist in the past, right? I should be able to fix it, but if you want me to remove this task now so you can submit it correctly, I can do that more quickly.

[2017-09-28 16:17] prozober commented on #55
Exactly, the problem was related to the LogCollect tasks, we do not ACDC those tasks.
I already removed the action, thanks :)

[2017-09-28 18:16] dabercro commented on #55
Found the bug #72 fixes it.

[2017-10-03 13:07] #58 closed

[2017-10-03 13:10] dabercro commented on #26
This is to remind myself to do this:

check the logs for sites whenever "unknown" is listed once I start rebuilding the all_errors.json

[2017-10-03 13:14] #22 closed

[2017-10-03 13:17] #31 closed

[2017-10-03 13:52] #39 closed

[2017-10-03 14:01] dabercro commented on #55
To bring this issue back on track, I can use the dataset presence to tell the operator to enable xrootd.

[2017-10-03 14:02] #54 closed

[2017-10-03 15:31] dabercro commented on #6
Hi everyone, I'm going to close this issue since the testing is done. If I lost an action item somewhere in the long thread, we can open a new issue to track it.

[2017-10-03 15:31] #6 closed

[2017-10-20 09:54] prozober opened #75 "Taking into account new statuses"
@dabercro, Unified has a bigger catalog of statuses right now.
We need to include in our recovery tool every request related to any status containing the word "manual": e.g assistance-manual,assistance-manual-recovered... etc.

Furthermore, it would be useful to visualize in the global error view, in which status is sitting every request.

[2017-10-22 21:31] dabercro commented on #75
Just wanted to let you know, I am working on this. It should be simple, but I'm having a little trouble with my local CERN cookie installation to run tests.

[2017-10-23 14:45] prozober commented on #75
Thank you very much, Dan.
This change is critical for us, as I would rather to ACDC recording the actions in our database.

[2017-10-23 15:41] dabercro commented on #75
#76 should add all the manual status workflows to the error page. The status isn't displayed yet though, so I'll leave this open.

[2017-10-24 09:12] prozober opened #77 "Memory and maxRSS"
Yesterday I sent this action:

`"mcremone_ACDC0_task_HIG-RunIISummer17wmLHEGS-00044__v1_T_171016_112558_6837": {"Action": "acdc", "Reasons": [], "ACDCs": [], "user": "prozober", "Parameters": {"HIG-RunIISummer17DRStdmix-00054_0": {"sites": ["T2_CH_CERN", "T2_UK_London_Brunel", "T2_UK_London_IC", "T2_UK_SGrid_RALPP", "T2_US_Wisconsin"], "memory": "12000"}}}`

The ACDC created was:
https://cmsweb.ce

[2017-10-24 09:33] vlimant commented on #77
the issue I think is that this is a second round ACDC and
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/actor.py#L65
https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/actor.py#L197

"initial" and "payload" are not TaskChain, but a Resubmission.
@areinsvo I suggest using the presence of "TaskChain" in "initial" and "payload" to decide to edit tasks

[2017-10-24 16:08] areinsvo commented on #77
The relevant lines in actor have been changed. @prozober if you create another acdc round the memory should be set correctly this time.

[2017-11-01 10:06] prozober commented on #77
Following this issue, we want to change the way we are assigning memory per task.
We were overwriting the memory value, now we think it is safer to take the field "memory" from our tool as the amount we want the memory to increase.
Taken from https://its.cern.ch/jira/browse/CMSCOMPPR-1597
@areinsvo, would it be straightforward?

[2017-11-01 10:13] prozober opened #79 "Multicore option"
We need to include the option to change the core count per task.
According to the selected value, Unified should be able to define the memory @X core, right @vlimant?
So, we need to change the web form as well as the actor to receive this new parameter.
@dabercro @areinsvo

[2017-11-01 12:25] dabercro commented on #79
This won't be a problem to add. Do you want it to have discrete options (like 1, 2, 4, or 8 cores, for example) or should I just add a text box?

[2017-11-01 13:11] dabercro commented on #79
I guess another question is do we want this option for 'clone', 'acdc', and 'recovery' or just a subset of those?

[2017-11-01 13:59] dabercro commented on #79
For now, I added an options list for all the actions listed above with #80

[2017-11-01 17:06] prozober commented on #79
Hi Dan, the multicore option needs to be available for all the actions.
For the moment, I think is better to include the multicore option as a textbox. We can go for 1 to ~64 cores.
Now, we need to wait for @areinsvo to include the option at the actor side.

[2017-11-01 17:26] dabercro commented on #79
Okay, #81 places them as textboxes

[2017-11-16 12:45] prozober opened #84 "secondary_xrootd option isn't working"
@areinsvo, It seems the option is not working on the actor side.
I sent this action:
"mcremone_ACDC0_task_HIN-pp502Fall15-00165__v1_T_171114_105324_4155": {"Action": "acdc", "Reasons": [], "ACDCs": ["mcremone_ACDC0_task_HIN-pp502Fall15-00165__v1_T_171114_105332_8534"], "user": "prozober", "Parameters": {"HIN-HINppWinter16DR-00164_0": {"cores": "", "memory": "", "sites": ["T2_UK_London_Brunel", "T2

[2017-11-17 15:53] areinsvo commented on #84
For some reason I either forgot to implement "secondary" or I never realized that it was an option that actor needed to be able to handle. Regardless, it has been implemented now. Please double check that it works as expected next time you send an action with that parameter.

[2017-12-20 14:14] prozober opened #86 "Changing the splitting for EventBased workflows"
We need to disable the option to change the splitting for tasks having the EventBased splitting algorithm.
@dabercro @areinsvo, maybe this check would be easier at the recovery tool's side, I am not sure how can the actor communicate there was a mistake with the parameter the operator sent.

[2017-12-20 14:24] prozober opened #87 "Changing the memory parameter"
@dabercro, as the only decision we can make related to memory is to increase it, I would like to see the current memory value per task, and next to it the operator should define how much that value should increase.
So, the tool will send to the actor something like 'memory' = the current value + the value set by the operator.
What do you think?

[2017-12-20 22:41] areinsvo commented on #86
Hmm. In theory this check was already implemented. It should simply fail to execute the action and throw up a Unified critical message, which I would then report to you. Here is where the check is applied. I'll have to figure out why it didn't work, unless maybe @prozober  or @vlimant see the problem?
https://github.com/CMSCompOps/WmAgentScripts/blob/5c0c238562af864091e5a664a4d9d0591e111158/Unifie

[2018-01-03 16:02] dabercro opened #88 "Add a way to selectively reset cached info"
I should add a button to let only certain workflow or PrepID files be removed. That way the whole cache doesn't have to be refreshed.

[2018-01-03 16:28] dabercro commented on #87
It should be possible, but I'll have to think about the best way to do it without breaking the generality too much. Until I have time, I can tell you the memory is already displayed towards the top of the page on the right side under the "Workflow Parameters" heading.

[2018-01-05 21:49] areinsvo commented on #79
@prozober for the scaling by memory: If both the memory and multicore options are used, actor will assume that the memory value is NOT scaled by the number of cores. Or more specifically, that the memory value passed is for the **initial** number of cores, and needs to be scaled up to whatever 'multicore' is set to. Does that make sense?

The scaling will be done in the same manner as  https://git

[2018-01-08 16:48] prozober commented on #79
Hi @areinsvo, that makes sense. I will let you know when I have a request to test.

[2018-02-15 15:57] dabercro opened #89 "Open JIRA ticket for workflows where no JIRA exists when action submitted"

[2018-02-15 16:06] prozober commented on #89
Only for rerecos or workflows creating their second ACDC round.
I guess we need to add a large textbox, I usually include links and long explanations.

[2018-03-13 08:17] prozober opened #94 "Skipped files as unreported errors"
We can get the list of skipped files from https://cmsweb.cern.ch/wmstatsserver/data/request/pdmvserv_task_EGM-RunIISpring18GS-00016__v1_T_180302_012947_5625
those are out unreported errors.
Likewise, there must be a way to get that info from https://cmsweb.cern.ch/couchdb/acdcserver/_design/ACDC/_view/byCollectionName?key=%22pdmvserv_task_EGM-RunIISpring18GS-00016__v1_T_180302_012947_5625%22&inclu

[2018-03-13 12:22] dabercro commented on #94
When I search for `.root`, I get nothing. Do you know what key the skipped files are supposed to be under?

[2018-03-14 14:14] prozober opened #97 "Issue changing the memory value"
We have a problem with this ACDC https://cmsweb.cern.ch/reqmgr2/fetch?rid=vlimant_ACDC0_task_HIN-HINPbPbSpring18GS-00001__v1_T_180312_140104_4651
I changed the memory using the recovery tool. When I check the request's JSON in reqmgr, this is the task configuration:

[code]
But in config:
https://cmsweb.cern.ch/reqmgr2/config?name=vlimant_ACDC0_task_HIN-HINPbPbSpring18GS-00001__v1_T_180312_140104_

[2018-03-14 16:00] areinsvo commented on #97
Looking at the actor logs I don't see anything suspicious. @vlimant any idea where I should try to track down the issue? https://cms-unified.web.cern.ch/cms-unified//logs/actor/2018-03-12_14:00:48.log

[2018-03-14 16:09] vlimant commented on #97
I think, and @amaltaro will confirm, that for memory to have an effect on ACDC, it has to be set at assignment time.

[2018-03-14 16:15] vlimant commented on #97
and it used to "work" because the MaxRSS was updated at assignment time (using "Memory": "8000") while now it's slaved to the spec "memoryRequirement = 4695.0"

[2018-03-14 16:18] amaltaro commented on #97
It works during creation as well, but mind this small detail:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/Resubmission.py#L44

which means, if you're ACDCing a TaskChain workflow, then Memory argument has to have a dictionary value.

[2018-03-14 16:20] vlimant commented on #97
it's done this way https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/actor.py#L70

[2018-03-14 16:22] vlimant commented on #97
wait. do you mean that the value in the nested TaskX do not matter, but the base Memory Parameter has to be a dict with Task:Memory ?

[2018-03-14 16:37] amaltaro commented on #97
For Resubmission, yes, that's correct! We don't re-evaluate all the parameters and call the setters, ACDC simply truncates the original workload (so there are no attributes changed).
Honestly, I think ACDCs should not support any updates during creation, only during assignment (as it already does).

[2018-03-14 16:50] vlimant commented on #97
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/Resubmission.py#L44 and the following lines makes -no sense- what so ever, except that it is a copy paste from the assignment code.

because of a time de-correlation between creation time and assignement time, the change at creation should be allowed and supported without having to do unnatural conversions.

Can you pleas

[2018-03-14 18:54] amaltaro commented on #97
I'm pretty sure there was a reason to make it that complicated, unfortunately I don't remember and can't find what was that. I'll look at it again and see if we can remove this over-complication.

The reason it shouldn't be supported during creation time is:
* the concept of ACDC workflow is simply a resubmission of a previously created workflow (read, a clone)
* we made several of these parameter

[2018-03-15 17:26] areinsvo commented on #97
https://github.com/CMSCompOps/WmAgentScripts/commit/0becde6f43139efc8bb79e09ee894ba31af272b9#diff-699b8f6dbca6e1b3cf8365e884aaaf0e
Memory is now passed as a dict for task chains. @prozober please submit a test workflow and let me know if it doesn't work.

[2018-03-16 10:33] prozober commented on #97
@areinsvo, I created this ACDC using our tool https://cmsweb.cern.ch/reqmgr2/config?name=vlimant_ACDC1_task_HIN-HINPbPbSpring18GS-00001__v1_T_180316_112116_2010

I checked it and I saw:
vlimant_ACDC1_task_HIN-HINPbPbSpring18GS-00001__v1_T_180316_112116_2010.tasks.HIN-HINPbPbSpring18GS-00001_0.input.splitting.performance.memoryRequirement = '8000'
The memory requirement is a string, this is not OK

[2018-03-16 14:55] areinsvo commented on #97
You're right. I was missing some int() values. Can you resubmit the action?

[2018-04-26 17:01] prozober opened #100 "Mapping T1_UK_RAL_ECHO_Disk"
This issue looks like
https://github.com/CMSCompOps/WmAgentScripts/issues/276
I am not sure how the recovery tool is mapping the site we need to assign by reading from the ACDC documents, but we have an issue with T1_UK_RAL_ECHO_Disk.
We are mapping correctly when we have data in T1_UK_RAL_Disk, the recovery tool selects by default T1_UK_RAL as the site we need to assign. But when data is in T1_UK

[2018-04-26 17:25] dabercro commented on #100
@prozober So I think I found the problem. It's checking the site_readiness for `'T1_UK_RAL_ECHO'`, but that isn't an entry. This should be easy to fix, but do you want this to be entered as `'T1_UK_RAL_ECHO'` or as `'T1_UK_RAL'` into the tool?

[2018-04-26 17:43] prozober commented on #100
Thanks, @dabercro. We need this to be entered as 'T1_UK_RAL'.

[2018-04-26 17:54] dabercro commented on #100
The dev port does this now: https://vocms0113.cern.ch/seeworkflow/?workflow=vlimant_ACDC1_task_BTV-RunIISpring18wmLHEGS-00009__v1_T_180410_174118_280

[2018-04-26 18:08] dabercro commented on #100
Port 80 does too now. Let me know if I broke anything.

[2018-05-16 01:25] dabercro commented on #88
Put in a couple months ago.

[2018-05-16 01:25] #88 closed

[2018-05-16 01:26] #84 closed

[2018-05-16 01:26] #23 closed

[2018-08-03 12:44] sharad1126 opened #106 "Memory parameter is displayed empty in some ACDCs"
After submitting an ACDC, the final summary that comes doesn't shows the memory requested in the acdc although it does gets assigned according to the logs.
<img width="729" alt="screen shot 2018-08-03 at 2 29 22 pm" src="https://user-images.githubusercontent.com/17527468/43643442-94034eea-972b-11e8-8e17-015edac59add.png">

The logs are -

“pdmvserv_task_BPH-RunIIFall17GS-00021__v1_T_180414_204720_

[2018-08-03 14:37] dabercro commented on #106
Yeah, this particular action summary page has been needing to be fixed for a long time. The whole submission form is sort of horrible ([but stable](https://github.com/CMSCompOps/WorkflowWebTools/blob/master/test/test_workflowwebtools.py#L308)) since I didn't know what I was doing when I wrote it.

The memory shown in the logs (getaction) is the version that Unified really sees.

[2018-08-30 11:42] dabercro commented on #37
Everything was installed on vocms049 with explicit instructions on how to run, but the server was never started. Now it sounds like that particular machine is being decommissioned.

[2018-08-30 11:42] #37 closed

[2018-08-30 11:43] #79 closed

[2018-08-31 17:08] #77 closed

[2018-11-27 16:19] vlimant opened #116 "setup direct db access for unified status"
following https://github.com/CMSCompOps/WmAgentScripts/pull/337 let's work out a way to read the unified status from where it belongs

[2018-11-27 16:34] vlimant commented on #116
as a work around the file is back in place

https://cms-unified.web.cern.ch/cms-unified/public/statuses.json

https://github.com/CMSCompOps/WmAgentScripts/commit/ceda0da63486b57f9b877dc4f65df9e00dec0cab

but should disappear in favor of db access

[2018-11-27 17:05] dabercro commented on #116
Reading mostly happens here: https://github.com/CMSCompOps/WorkflowWebTools/blob/master/workflowwebtools/errorutils.py#L24

Dima sent me an example of how to connect, so I'm trying out this change at the moment: https://github.com/dabercro/WorkflowWebTools/blob/oracle/workflowwebtools/errorutils.py#L44

[2018-11-29 15:00] dabercro commented on #116
This is working, but there is too long of a delay between when workflows show up in the database (and unified's webpage) and when they show up on this webpage.

[2018-11-29 16:14] vlimant commented on #116
which "this webpage" ? the wtc-console ?

[2018-11-29 16:21] dabercro commented on #116
Yeah, the WorkflowWebTools generated page. I just updated the server to make the refresh period configurable and shortened it from half an hour to five minutes.

[2019-02-14 18:23] #116 closed

[2019-04-12 16:17] vargasa opened #123 "YAML deprecated function"
When running `AIErrorHandling` I got the following warning from `WorkflowWebTools`

[2019-04-20 12:57] #123 closed

[2019-05-14 07:38] vlimant opened #128 "update ES query for showlog"
@dabercro I don't recall where the php for showlog is but

https://cms-unified.web.cern.ch/cms-unified/showlog/?search=critical&module=assignor

 does  not show anything by default. I think the ES query needs to be updated to have the proper filtering done on the es-server side instead of the client.
 We can update the schema of the es documents if needed

[2019-05-14 14:55] dabercro commented on #128
I never knew where it ended up being moved to either. It looks like I got rid of my copy because it had authentication stuff in it. Try `/eos/home-c/cmsunified/www/showlog` maybe? I don't have permissions to look. If it's not there, I'm sure it's listed in the cms-unified account settings.

[2020-02-05 10:20] vlimant commented on #128
ended up here https://github.com/CMSCompOps/WmAgentScripts/commit/caa3367b67630bc64771a28dad909b5080a7b92c
I added the more economical search on module == subject

[2020-02-05 10:20] #128 closed

[2021-09-08 12:19] haozturk opened #140 "Console does not fetch error information for some workflows occasionally and we cannot submit ACDCs"
As discussed many times, occasionally error info is not available on the console for a small subset of workflows. For now, we're solving the issue by restarting the server. We need to understand what's the real issue. Here are some examples from today:
https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=task_SUS-RunIISummer20UL17wmLHEGEN-00066
https://dmytro.web.cern.ch/dmytro/cmspr

[2022-02-17 11:33] haozturk opened #141 "Handle xrootd settings and T2_CH_CERN_HLT special case automatically"
Currently, for a given failed task, console brings the sites in a pre-selected manner according to the info coming from ACDC server. There are a few things that the operator needs to do upon that. We want console to handle them automatically. Here is the desired procedure:

- For a given failed task, if there is a necessary site which is drain (marked as red and bold letters in the console):
   -